@font-face {
	font-family: playfair;
	src: url(https://fonts.google.com/specimen/Playfair+Display);
}


a {
  display: inline;
  text-align: center;
  text-decoration: none;
  color: black;
}

header{
  position:relative;
  width:100%;
  display:flex;
  justify-content: center;
  font-family: playfair, sans-serif;
  background-color:#fdfdf9;
}

.wrap{
  width:100%;
  max-width:1200px;
  position:relative;
  display:flex;
  flex-flow: row wrap;
  align-content:flex-start;
}

header .wrap{
  justify-content:space-between;
}

p{
  display:block;
}

.name{
  padding-top:18px;
  padding-left:25px;
  padding-right:25px;
  font-size: 24px;
}

.nav ul li{
  list-style:none;
    list-style-type:none;
    list-style-position:initial;
    list-style-image:initial;
  display:inline-block;
  position:relative;
  margin-top: 10px;
}

.nav ul li a{
  position: relative;
  display:inline-block;
}

.button{
  padding: 15px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  font-family: playfair, sans-serif;
}

.container-fluid{
  font-family: playfair, sans-serif;
  padding: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.col {
  flex: 33%;
  padding: 25px;
}

.page_header{
  padding: 30px;
  text-align: center;
  font-family: playfair, sans-serif;
  text-decoration: underline;
}

.selfie{
  margin-bottom:25px;
  box-shadow: 1px 1px 1px 1px #0000001a;
}

.description{
  font-family: playfair, sans-serif;
  padding:35px;
  font-size: large;
  background-color:#fdfdf9;
  box-shadow: 1px 1px 1px 1px #0000001a;
}

.banner{
  margin-top:11px;
  box-shadow: 1px 1px 1px 1px #0000001a;
}

footer {
  padding:1rem;
  color: black;
  border-top:solid;
  font-family: playfair, sans-serif;
}
