@font-face {
	font-family: playfair;
	src: url(https://fonts.google.com/specimen/Playfair+Display);
}

@font-face {
	font-family: sacremento;
	src: url(https://fonts.google.com/specimen/Sacramento);
}

a {
  display: inline;
  text-align: center;
  text-decoration: none;
  color: black;
}

header{
  position:relative;
  width:100%;
  display:flex;
	flex-flow: row wrap;
	align-content:flex-start;
  font-family: playfair, sans-serif;
	justify-content: space-between;
  background-color:#4baff20f;
}

.logo{
	float:left;
	margin-left: 25px;
}

.wrap{
  width:100%;
  position:relative;
  display:flex;
  flex-flow: row wrap;
  align-content:flex-start;
}

header .wrap{
  justify-content:space-between;
}

p{
  display:block;
}

.namme{
	margin: 25px;
	max-height: 70px;
}

.nav ul li{
	margin-right: 25px;
  list-style:none;
    list-style-type:none;
    list-style-position:initial;
    list-style-image:initial;
  display:inline-block;
  position:relative;
  margin-top: 35px;
}

.nav ul li a{
  position: relative;
  display:inline-block;
}

.button{
  padding: 15px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  font-family: playfair, sans-serif;
}

.container-fluid{
  font-family: playfair, serif;
  padding-top: 25px;
	padding-bottom:25px;
	padding-left:25px;
	background-color: #aed6f11f;
}

.block{
	background-color: black;
	color:white;
	margin:25px;
	padding:25px;
  box-shadow: 1px 1px 1px 1px #0000001a;
}

.sidebar{
	margin:25px;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:25px;
	padding-top:25px;
	background-color: #fdfdf9;
  box-shadow: 1px 1px 1px 1px #0000001a;
}

.main{
	margin:25px;
	padding:25px;
	background-color: #fdfdf9;
	box-shadow: 1px 1px 1px 1px #0000001a;
}

.page_header{
  font-family: playfair, sans-serif;
	font-size: 23px;
}

.img-responsive{;
  box-shadow: 1px 1px 1px 1px #0000001a;
}

footer {
  padding-top:2rem;
	padding-bottom:1rem;
  color: black;
  font-family: playfair, sans-serif;
	background-color: #043f662b;
}
