body, html {
    height: 50%;
}

.bg {
    /* The image used */
    background-image: url("images/bun.jpg");

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
